In [42]:
import numpy as np
import random
from scipy.stats import norm
import pandas as pd

## 1. Bangkitkan data asli (misal y)
kita akan membangkitkan data berdistribusi normal yang akan digunakan dalam bahan penelitian ini.

In [3]:
# parameter distribusi normal
# mu = paramter rata-rata
# sigma = parameter standard deviasi
# n = banyaknya nilai yang akan dibangkitkan
mu, sigma,n = 10, 1, 10

In [5]:
# menjaga nilai bangkitan agar tidak selalu berubah
random.seed(101)

In [6]:
# data asli
y = np.random.normal(mu, sigma, n)

In [7]:
y

array([ 8.64541487,  8.25139599, 11.50295697,  9.69599539,  9.69607617,
        9.44342277, 10.03003468, 10.34723585,  9.99228366,  9.80722872])

# 2. Hitung f(y) berdasarkan parameter yang benar

In [8]:
fy_benar = norm.pdf(y, 10, 1)

In [9]:
fy_benar

array([0.15939196, 0.08648827, 0.12894383, 0.38092684, 0.3809362 ,
       0.34169811, 0.39876238, 0.37560211, 0.3989304 , 0.39159822])

# 3. Hitung f(y) berdasarkan parameter yang salah
Berikut merupakan hasil f(y) menggunakan parameter yang salah

In [33]:
fy1 = norm.pdf(y, 10, 2)
fy2 = norm.pdf(y, 10, 5)
fy3 = norm.pdf(y, 10, 10)
fy4 = norm.pdf(y, 10, 100)
fy5 = norm.pdf(y, 100, 5)
fy6 = norm.pdf(y, 100, 5)
fy7 = norm.pdf(y, 100, 5)

# 4. Bandingkan nilai f(y1,y2,..yn|Î¸)
Kita akan bandingkan nilai likelihood dari parameter yang salah dan parameter yang benar.

In [37]:
fy_all = [fy_benar,fy1,fy2,fy3,fy4,fy5,fy6,fy7]
fy_label = ['benar'] + 7*['salah']

In [47]:
likelihood_all = []
for k in fy_all:
    result = np.prod(k)
    likelihood_all.append(result)

In [50]:
df_likelihood_all = pd.DataFrame(likelihood_all)
df_likelihood_all[1] = fy_label

In [56]:
df_likelihood_all.columns = ['Likelihood','Jenis']
df_likelihood_all= df_likelihood_all.sort_values('Likelihood',ascending=False)

In [58]:
"""
Berdasarkan tabel di bawah ini, nilai likelihood yang terbesar berasal dari parameter yang benar. 
Sedangkan parameter yang salah selalu menghasilkan nilai likelihood yang lebih kecil daripada yang benar.
"""
df_likelihood_all

     Likelihood  Jenis
0  2.062247e-06  benar
1  3.759332e-08  salah
2  8.945615e-12  salah
3  9.820940e-15  salah
4  1.020778e-24  salah
5  0.000000e+00  salah
6  0.000000e+00  salah
7  0.000000e+00  salah

# Kesimpulan
Bisa ditarik kesimpulan bahwa parameter yang benar akan menghasilkan nilai likelihood yang terbesar pula. Begitulah cara kerja Maximum Likelihood Estimation yaitu mencari parameter yang sedemikian hingga nilai likelihood nya adalah yang terbesar.